/* announcements.css */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

/* Dropdown  */
.dropdown-menu {

    display: none;
    position: absolute;
    right: 0;
    left: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: #343a40;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

main {
    flex: 1;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
    }

    .navbar-nav {
        text-align: center;
    }

    .dropdown-menu {
        text-align: center;
        position: relative;
        left: 0;
    }
}
